body {
    color:  palevioletred;
    text-transform: uppercase;
    font-family: "Instrument Serif", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 90px;
}

h4 {
    display: flex;
    width: 100vw;
    justify-content: center;
    position: relative;
    font-size: 30px;
    font-weight: 100;
    filter: blur(1px);
  }


  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    font-size: 20px;
    animation: motion 10s;
    animation-iteration-count: infinite;
}

#one {
    text-align: right;
}

#two {
    text-align: center;
}

#three {
    text-align: left;
}

#four, #five, #six {
    text-align: right;
}

#one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover {
    background-color: palevioletred;
    color: #D9D9D9;
}

.grid-item {
    color: #404040;
    text-align: center;
    height: 25vh;
    padding: 90px;
}

.grid-item:hover {
    font-style: italic;
}

@keyframes motion {
0%   { font-size: 30px; }
50%  { font-size: 40px; }
100% { font-size: 30px; }

}