html {
  margin: 0;
  animation: bgColor-changed 15000ms linear infinite;
}

body {
  color: white;
  text-transform: uppercase;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-style: normal;
  font-size: 20px;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* Style for the fade effect */
body {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
/* Style to hide the body while transitioning */
body.fade-out {
  opacity: 0;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.background-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.overlay-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.light{
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--x) var(--y) , rgb(221, 164, 94) 6%, transparent 60%);
  mix-blend-mode:exclusion;
  opacity: 15%;
} 

h4 {
  display: flex;
  position: relative;
  font-size: 22px;
  filter: blur(1px);
  height: 20px;
  font-weight: 600;
  color: white;
}

.top-container {
  display: inline-flex;
  position: relative;
  width: 100vw;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  height: auto;
  height: 25px;
  margin-bottom: 5vh;
}



.part1 {
  width: 100vw;
  height: 400px;
  display:block;
  position: relative;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-style: normal;
  font-size: 70px;
  font-weight: 900;
  filter: blur(1.5px);
}

.part2 {
  display:block;
  width: 100vw;
  height: 350px;
  position: relative;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-style: normal;
  font-size: 70px;
  font-weight: 900;
  filter: blur(1.5px);
}

.part1:hover, .part2:hover {
  font-style: italic;
}

.marquee {
  margin: 0 auto;
}

#dateTime {
  width: 50vw;
}

a {
  color:white;
  text-decoration: none;
}

a:visited {color:white; text-decoration: none;}


a:hover {
  text-decoration: overline;
}


img {
  display: block;
  max-width: 100%;
}

@media (min-width: 768px) {

}

/* Tablet layout */
@media (max-width: 767px) {

}

/* Mobile layout */
@media (max-width: 480px) {
  .part1 {
    width: 100vw;
    margin-top: 10px;
    height: 40vh;
    display:block;
    position: relative;
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 900;
    filter: blur(1.5px);
    padding: 30px;
    margin-top: 10px;
  }
  
  .part2 {
    display:block;
    width: 100vw;
    height: 20vh;
    position: relative;
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 900;
    filter: blur(1.5px);
    margin-top: 10px;
    padding: 30px;
  }

  .light {
    display: none;
  }

  h4 {
    position: relative;
    font-size: 33px;
    filter: blur(1px);
    font-weight: 600;
    color: white;
  }

  #tabs {
    width: 100vw;
    display: inline;
    margin-top: 0;
    font-size: 18px;
    padding-left: 23px;
    padding-right: 23px;

  }
  
  .top-container {
    display: inline-block;
    width: 100vw;
    margin-top: 10px;
    justify-items: center;
  }

  #dateTime {
    width: 100vw;
    display: inline;
    position: relative;
  }
}
  


