html {
  margin: 0;
  animation: bgColor-changed 15000ms linear infinite;
}

body {
  color: black;
  background-image: url("https://images-assets.nasa.gov/image/iss011e11806/iss011e11806~orig.jpg");
  background-size: cover;
  text-transform: uppercase;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-style: normal;
  font-size: 20px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Style for the fade effect */
body {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
/* Style to hide the body while transitioning */
body.fade-out {
  opacity: 0;
}

.light{
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--x) var(--y) , rgb(255, 255, 255) 10%, transparent 70%);
  mix-blend-mode:exclusion;
} 

h4 {
  display: flex;
  position: relative;
  font-size: 20px;
  filter: blur(.5px);
  height: 20px;
  font-weight: 600;
}

.clock-container {
  display: flex;
  position: relative;
  width: 100vw;
  justify-content: center;
  padding-left: 3vw;
  padding-right: 3vw;
  height: auto;
  height: 25px;
  margin-bottom: 15px;
}

.top-container {
  display: inline-flex;
  position: relative;
  width: 100vw;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  height: auto;
  height: 25px;
  margin-bottom: 5vh;
}



.part1 {
  width: 100vw;
  height: 300px;
  display:block;
  position: relative;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-style: normal;
  font-size: 90px;
  font-weight: 900;
}

.part2 {
  display:block;
  width: 100vw;
  height: 250px;
  position: relative;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-style: normal;
  font-size: 90px;
  font-weight: 900;
}

.part1:hover, .part2:hover {
  font-style: italic;
}

.marquee {
  margin: 0 auto;
}

#dateTime {
  width: 50vw;
}

-a {
  color:#DB7093;
  text-decoration: none;
  filter: blur(1.5px);
  padding: 50px;
}

-a:visited {color:#DB7093; text-decoration: none;}


-a:hover {
  border: 2px solid #DB7093;
  border-radius: 9999px;
}

-h4 {
  display: flex;
  width: 100vw;
  justify-content: center;
  position: relative;
  font-size: 30px;
  filter: blur(1px);
}

img {
  display: block;
  max-width: 100%;
}