html {
    margin: 0;
    animation: bgColor-changed 15000ms linear infinite;
}

body {
    color: white;
    text-transform: uppercase;
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-style: normal;
    font-size: 20px;
    height: 100vh;
    margin: 0;
    padding: 0;
}
 
.light{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y) , rgb(255, 255, 255) 10%, transparent 70%);
    mix-blend-mode:exclusion;
  }

  a {
    color:white;
    text-decoration: none;
  }
  
  a:visited {color:white; text-decoration: none;}
  
  
  a:hover {
    text-decoration: overline;
  }
  
  h4 {
    display: flex;
    position: relative;
    font-size: 22px;
    filter: blur(1px);
    height: 20px;
    font-weight: 600;
    color: white;
  }

  .clock-container {
    display: flex;
    position: relative;
    width: 100vw;
    justify-content: center;
    padding-left: 3vw;
    padding-right: 3vw;
    height: auto;
    height: 25px;
    margin-bottom: 15px;
  }

  .top-container {
    display: inline-flex;
    position: relative;
    width: 100vw;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
    height: auto;
    height: 25px;
    margin-bottom: 5vh;
  }
  

  .random-data {
    display: flex;
    width: 100vw;
    height: 15vh;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
    position: relative;
    filter: blur(.5px);

    font-family: "IBM Plex Sans Thai", sans-serif;
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
  }

.data-container {
    width: 40vw;
    text-align: right;
  }

#random-data1, #random-data3, #random-data5 {
    text-align: left;
    justify-content: left;
  }

  h2 {
    display: block;
    width: 100vw;
    position: relative;
    font-weight: 600;
    filter: blur(.5px);
  }

 /* Style the button */
button {
  margin:auto;
  margin-top: 2vh;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-style: normal;
  font-weight: 600;
  filter: blur(.5px);
}

#random-data1 {
    animation: blinker 4s linear infinite;
}

#random-data2 {
  animation: blinker 6s linear infinite;
}

#random-data3 {
  animation: blinker 5s linear infinite;
}

#random-data4 {
  animation: blinker 5.5s linear infinite;
}

#random-data5 {
  animation: blinker 4.5s linear infinite;
}

@keyframes blinker {
  0% { font-size: 100%; opacity: 1; filter: blur(0px)}
  50% { font-size: 103%; opacity: .3; filter: blur(1px)}
  100% { font-size: 100%; opacity: 1; filter: blur(0px)}
}

#dateTime {
  width: 50vw;
}