html {
    margin: 0;
}

body {
    color: white;
    text-transform: uppercase;
    font-family: "Instrument Serif", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;

    margin: 0;
    padding: 0;
    height: 100vh;
}
 


  h4 {
    display: flex;
    width: 100vw;
    justify-content: left;
    padding-left: 2.5vw;
    position: relative;
    font-size: 30px;
    font-weight: 100;
    filter: blur(1px);
  }

.slider-container {
    width: 100%;
    height: 50px; /* Adjust height as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
}

.slider {
    width: 100%;
}

.section {
    height: 100vh;
    display: none;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
}

.section.active {
    display: block;
    opacity: 1; /* Show active section */
    animation: slideIn 0.5s forwards; /* Slide-in animation */
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}


/* Styles for the slider track */
input[type=range] {
  -webkit-appearance: none; /* Remove default styles */
  width: 90vw;
  height: 30px; /* Adjust height as needed */
  background-color: lightblue; /* Color of the track */
  border-radius: 999px; /* Rounded corners */
}

/* Styles for the slider thumb (handle) */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styles */
  width: 40px; /* Width of the thumb */
  height: 40px; /* Height of the thumb */
  background-color: orangered; /* Color of the thumb */
  border-radius: 50%; /* Circular shape */
  cursor: pointer; /* Change cursor on hover */
}

/* Styles for the slider thumb (handle) when hovered */
input[type=range]::-webkit-slider-thumb:hover {
  background-color:orange; /* Color of the thumb on hover */
}
