body, html {
  color: white;
  text-transform: uppercase;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-style: normal;
  font-size: 20px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}

#dateTime {
  width: 50vw;
}

a {
  color:white;
  text-decoration: none;
}

a:visited {color:white; text-decoration: none;}


a:hover {
  text-decoration: overline;
}

/* Style for the fade effect */
body {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
/* Style to hide the body while transitioning */
body.fade-out {
  opacity: 0;
}

.light{
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--x) var(--y) , rgb(255, 255, 255) 10%, transparent 70%);
  mix-blend-mode:exclusion;
}

h4 {
  display: flex;
  position: relative;
  font-size: 22px;
  filter: blur(1px);
  height: 20px;
  font-weight: 600;
  color: white;
}

.clock-container {
  display: flex;
  position: relative;
  width: 100vw;
  justify-content: center;
  padding-left: 3vw;
  padding-right: 3vw;
  height: auto;
  height: 25px;
  margin-bottom: 15px;
}

.top-container {
  display: inline-flex;
  position: relative;
  width: 100vw;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  height: auto;
  height: 25px;
  margin-bottom: 5vh;
}

.lyrics {
  padding: 5px;
  border-radius: 2px;
  line-height: 24px;
  font-size: 20px;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}

.hours {
  line-height: 60px;
  text-align: center;
  background-color: black;
  margin: 30px;
  border-radius: 10px;
}

.grid-container {
  padding-top: 5px;
  display: grid;
  height: 100%;
  width: 100vw;
}

.grid-item {
  height: 50vh;
  overflow: auto;
  display: inline;
  align-items: center;
  justify-content: center;
}

.grid-item::-webkit-scrollbar {
  display: none;
}

.grid-item {
-ms-overflow-style: none;  
scrollbar-width: none; 
}