body, html {
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-style: normal;
  font-size: 20px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-weight: 400;
}

#dateTime {
  width: 50vw;
}

a {
  color:white;
  text-decoration: none;
}

a:visited {color:white; text-decoration: none;}


a:hover {
  text-decoration: overline;
}

/* Style for the fade effect */
body {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
/* Style to hide the body while transitioning */
body.fade-out {
  opacity: 0;
}

.light{
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  mix-blend-mode:exclusion;
}

h4 {
  display: flex;
  position: relative;
  font-size: 22px;
  filter: blur(1px);
  height: 20px;
  font-weight: 600;
  color: white;
}

.clock-container {
  display: flex;
  position: relative;
  width: 100vw;
  justify-content: center;
  padding-left: 3vw;
  padding-right: 3vw;
  height: auto;
  height: 25px;
  margin-bottom: 15px;
}

.top-container {
  display: inline-flex;
  position: relative;
  width: 100vw;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  height: auto;
  height: 25px;
  margin-bottom: 5vh;
}

.lyrics {
  padding: 5px;
  border-radius: 2px;
  line-height: 24px;
  font-size: 16px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  font-style: italic;
}

.sub {
  font-size: 12px;
  padding-right: 20px;
}

.tracks {
  display: flex;
  line-height: 10px;
  justify-content:space-between;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: 50px;
}

.hours {
  line-height: 80px;
  text-align: center;
  border-radius: 2.5px;
  margin: 170px;
  letter-spacing: 3px;
  font-size: 38px;
  box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.3); 
  font-weight: 800;
}

.grid-container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100vw;
  filter: blur(.8px);
}

.grid-item {
  height: 40vh;
  overflow: auto;
  display: inline;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.grid-item::-webkit-scrollbar {
  display: none;
}

.grid-item {
-ms-overflow-style: none;  
scrollbar-width: none; 
}

#hour-1 {
  background: linear-gradient(#80ABFF, #FFE4CB);
}

#hour-2 {
  background: linear-gradient(#2C4291, #B97A56);
}

#hour-3 {
  background: linear-gradient(#060b2b, #525473);
}

#hour-4 {
  background: linear-gradient(#0e1125, #3d3d3f);
}

#three {
 color: #7f8083;
}

#twelve {
  color: #7b7ea9;
}

#four {
  color: #b79179;
}

#ten {
  color: #f4e7d7;
}  

@media (min-width: 768px) {

}

/* Tablet layout */
@media (max-width: 767px) {

}

/* Mobile layout */
@media (max-width: 480px) {
  .light {
    display: none;
  }

  .grid-container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100vw;
    filter: blur(.8px);
  }

  .lyrics {
    padding: px;
    border-radius: 2px;
    line-height: 24px;
    font-size: 16px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-style: italic;
  }

  .tracks {
    display: flex;
    line-height: 10px;
    justify-content:space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 50px;
  }

  .grid-item {
    height: 18vh;
    overflow: auto;
    display: inline;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }

  .hours {
    line-height: 60px;
    text-align: center;
    border-radius: 2.5px;
    margin: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    letter-spacing: 3px;
    font-size: 38px;
    box-shadow: 0px 0px 0px 8.5px rgba(255, 255, 255, 0.3); 
    font-weight: 800;
  }
}

  .light{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y) , rgb(221, 164, 94) 4%, transparent 90%);
    mix-blend-mode:color-burn;
    opacity: 50%;
  } 