html {
  margin: 0;
  animation: bgColor-changed 15000ms linear infinite;
}

body {
  color: white;
  text-transform: uppercase;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-style: normal;
  font-size: 20px;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#dateTime {
  width: 50vw;
}

/* Style for the fade effect */
body {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
/* Style to hide the body while transitioning */
body.fade-out {
  opacity: 0;
}

.light{
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--x) var(--y) , rgb(255, 255, 255) 10%, transparent 70%);
  mix-blend-mode:exclusion;
}

h4 {
  display: flex;
  position: relative;
  font-size: 20px;
  filter: blur(.5px);
  height: 20px;
  font-weight: 600;
}

.clock-container {
  display: flex;
  position: relative;
  width: 100vw;
  justify-content: center;
  padding-left: 3vw;
  padding-right: 3vw;
  height: auto;
  height: 25px;
  margin-bottom: 15px;
}

.top-container {
  display: inline-flex;
  position: relative;
  width: 100vw;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  height: auto;
  height: 25px;
  margin-bottom: 5vh;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align:center;
  text-align: center;
}

div {
  display: inline-flex;
}

.tracks {
 height: 25vh;
 width: 25vw;
 margin: 30px;
 padding-top: 60px;
 display: flex;
 position: relative;
  filter: blur(.5px);

}

p {
  font-weight: 600;
  font-size: 20px;
}
  

.lyrics-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-self: center;
  padding: 1vw;
}

.lyrics {
  padding: 5px;
  background-color: black;
  border-radius: 5px;
  line-height: 30px;
}